<div class="container-fluid" style="overflow: hidden; z-index: -100; position: absolute" id="container">

  <div class="container-fluid" style="height: 100vh;max-width: 100vh">
    <img src="assets/pics/main.jpg" class="back"  style="z-index: -100;height: 100vh" >
  </div>
  <div class="container-fluid" style="height: 70vh;max-width: 70vh">
    <img src="assets/pics/badminton.jpg" style="z-index: -100; height: 100vh" class="back">
  </div>
  <div class="container-fluid" style="height: 70vh;max-width: 70vh">
    <img src="assets/pics/squash.jpg" style="z-index: -100; height: 100vh" class="back">
  </div>
  <div class="container-fluid" style="height: 70vh;max-width: 70vh">
    <img src="assets/pics/tennis.jpg" style="z-index: -100; height: 100vh" class="back">
  </div>
  <div class="container-fluid" style="height: 70vh;max-width: 70vh">
    <img src="assets/pics/table-tennis.jpg" style="z-index: -100; height: 100vh" class="back">
  </div>
</div>
<div style="z-index: 10;max-height: 100vh;min-height: 100vh">
  <app-header></app-header>
  <div class="row">
    <div class="col-sm-12" id="punch-line">
      <p style="-webkit-text-stroke: 1px white; color: transparent" class="align-content-center animate__animated animate__bounceInUp font-weight-bold mt-lg-5 text-center" >
        TOP COACHING CLUB <br>
        <span id="rules" style="color: white;-webkit-text-stroke: 0px transparent">MAKE THE RULES<span class="text-primary">!</span></span>
      </p>
    </div>
  </div>

  <br><br>
  <div class="animate__animated animate__heartBeat animate__repeat-3 animate-delay pb-3" align="center">
    <button style="font-size: 3vh;" class="btn font-weight-bold  pl-lg-3 pr-lg-3 text-white bg-transparent" routerLink="/register">
      Join Us
    </button>
  </div>
</div>
<div style="max-height: 70vh;min-height: 70vh">
  <h1 class="text-white animate__animated animate__bounceInRight mt-5 animate__repeat-3 animate__delay-5s" align="center">Badminton</h1>
  <h3 class=" align-content-center animate__animated mt-2 animate__bounceInLeft text-white" align="center">
    We Put the Bad in Badminton
  </h3>
  <div class="animate__animated animate__heartBeat animate__repeat-3 mt-5 animate-delay " align="center">
    <button style="font-size: 3vh;" class="btn font-weight-bold  pl-lg-3 pr-lg-3 text-white bg-transparent" routerLink="/register">
      Join Us
    </button>
  </div>
</div>
<div style="max-height: 70vh;min-height: 70vh">
  <h1 class="text-white animate__animated animate__bounceInRight animate__repeat-3 animate__delay-5s" align="center" >Squash</h1>
  <h3 class=" align-content-center animate__animated mt-2 animate__bounceInLeft text-white" align="center">
    We prepare our players for national level!!!!!
    <br>
    Avail the Opportunity Asap!!
  </h3>
  <div class="animate__animated animate__heartBeat animate__repeat-3 mt-5 animate-delay " align="center">
    <button style="font-size: 3vh;" class="btn font-weight-bold  pl-lg-3 pr-lg-3 text-white bg-transparent" routerLink="/register">
      Join Us
    </button>
  </div>
</div>
<div style="max-height: 70vh;min-height: 70vh">
  <h1 class="text-white animate__animated animate__bounceInRight animate__repeat-3 animate__delay-5s" align="center">Tennis</h1>
  <h3 class=" align-content-center animate__animated mt-2 animate__bounceInLeft text-white" align="center">
    If you don't practice you don't deserve to win!
    <br>
    Don't waste time!
  </h3>
  <div class="animate__animated animate__heartBeat animate__repeat-3 animate-delay mt-5" align="center">
    <button style="font-size: 3vh;" class="btn font-weight-bold  pl-lg-3 pr-lg-3 text-white bg-transparent" routerLink="/register">
      Join Us
    </button>
  </div>
</div>
<div style="max-height: 70vh;min-height: 70vh">
  <h1 class="text-white animate__animated animate__bounceInRight" align="center">Table Tennis</h1>
  <div style="position: relative">
    <h3 class=" align-content-center animate__animated mt-2 animate__bounceInLeft text-white animate__repeat-3 animate__delay-5s" align="center">
      Championships are won at practice
    </h3>
    <div class="animate__animated animate__heartBeat animate__repeat-3 animate-delay mt-5" align="center">
      <button style="font-size: 3vh;" class="btn font-weight-bold  pl-lg-3 pr-lg-3 text-white bg-transparent" routerLink="/register">
        Join Us
      </button>
    </div>
  </div>
</div>





